$custom-grid: (
 	 gutter: 0px,
  	columns: 12,
);

.create-form {
	@include grid-column(10, $custom-grid);
	@include grid-shift(1.5, $custom-grid);

	.text-editor{
		@include grid-column(8);
		@include grid-shift(2);
		margin-top: 20px;
		height: 100%;
	}
	.gallery{
        white-space: nowrap;
		padding: 10px;
		position: relative;
		@include grid-column(12,$custom-grid);
		border: 2px solid #C8C9C6;
		margin-top: 10px;
		height: 173px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.upload-icon{
		position: absolute;
		@include grid-shift(1.7,$custom-grid);
		margin-bottom: 15px;
	}
	.gallery-item{
		// background: url('') 50% 50% no-repeat;
		display: inline-block;
		white-space: normal;
		background-size: cover;
		margin-right: 10px;
		width: 150px;
		height: 150px;
	}
	.gallery-button{//initial upload images button
		@include grid-column(12,$custom-grid);
		font-size: 1.2em;
		font-weight: 600;
		padding-right: 95px;
		border:3px dashed #aaa;
		height: 173px;
		margin-top: 10px;
		cursor: pointer;
		background-color: white;
		color: #aaa;
		letter-spacing: 1.3px;
	}
	.image-upload{ //invisible input button
		@include grid-shift(6.5);
		margin-top: 210px;
		position: absolute;
	 	opacity: 0;
	 	cursor: pointer;

	}

	.add-images{//add images button with + symbol
		@include grid-shift(9.5,$custom-grid);
		cursor: pointer;
	}
	.add-images-sign{
	  color: #00a2ff;
      font-size: 3em;
      @include grid-column(1,$custom-grid);
      @include grid-push(0.5,$custom-grid);
       }

    .add-images-text{
      @include grid-column(3);
      @include grid-push(-0.5)
      margin-top: 25px;
      color: #00a2ff;

    }

	.note-submit{
		@include grid-column(2);
		@include grid-push(-3);
		margin-top: 780px;
	}	


	.ql-editor{
		height: 46vh;
	}
	.image-upload{
		@include grid-column(3);
		@include grid-push(3);
	}
	.lightbox{
		@include grid-column(5)
	}
}


