$custom-grid: (
 	 gutter: 0px,
  	columns: 12,
);

.create-form {
	@include grid-column(10, $custom-grid);
	@include grid-push(1.5, $custom-grid);

	.text-editor{
		@include grid-column(8,$custom-grid);
		@include grid-shift(2,$custom-grid);
		margin-top: 20px;
		height: 100%;
	}
	.gallery{
        white-space: nowrap;
		padding: 10px;
		position: relative;
		@include grid-column(12,$custom-grid);
		border: 2px solid #C8C9C6;
		margin-top: 10px;
		height: 173px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.upload-icon{
		position: absolute;
		@include grid-shift(1.7,$custom-grid);
		margin-bottom: 15px;
	}
	.gallery-item{
		// background: url('') 50% 50% no-repeat;
		display: inline-block;
		white-space: normal;
		background-size: cover;
		margin-right: 10px;
		width: 150px;
		height: 150px;
	}
	.gallery-button{//initial upload images button
		@include grid-column(12,$custom-grid);
		font-size: 1.2em;
		font-weight: 600;
		padding-right: 95px;
		border:3px dashed #aaa;
		height: 173px;
		margin-top: 10px;
		cursor: pointer;
		background-color: white;
		color: #aaa;
		letter-spacing: 1.3px;
	}
	.image-upload{ //invisible input button
		@include grid-shift(6.5);
		@include grid-column(3,$custom-grid);
		margin-top: 210px;
		height: 30px;
		position: absolute;
	 	opacity: 0;
	 	cursor: pointer;

	}

	.add-images{//add images button with + symbol
		@include grid-column(6,$custom-grid);
		@include grid-push(9.8,$custom-grid);
		height: 100px;
	}
	.add-images-sign{
	  color: #00a2ff;
      font-size: 3em;
      @include grid-column(1,$custom-grid);
      @include grid-push(0.3,$custom-grid);
      cursor: pointer;

    }

    .add-images-text{
      @include grid-column(3,$custom-grid);
      @include grid-push(0.5,$custom-grid);
      margin-top: 25px;
      color: #00a2ff;
      cursor: pointer;


    }

	.note-submit{//submiting notes nad images button
		@include grid-column(2);
		@include grid-push(-2.7);
		margin-top: 830px;
		position: absolute;
	}	

	.mood-instruction{
		@include grid-push(1);
		margin-top: -30px;
		position: absolute;
		color: #00a2ff;
	}
	.ql-editor{//quill editor
		height: 46vh;
	}
	.image-upload{
		@include grid-column(3);
		@include grid-push(3);
	}
	.lightbox{
		@include grid-column(5)
	}

	.mood-button{
		margin-top: 200px;
	}
	.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}
  .tgl-ios {
  + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
    &:after {
      border-radius: 2em;
      background: #fbfbfb;
      transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
      box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em #e8eae9;
      &:after {
        padding-right: .8em;
      }
    }
  }

  &:checked + .tgl-btn {
    background: #00a2ff;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
  }
}

}
