$custom-grid: (
  columns: 12,
  gutter: 0px,
);

.story-wrapper{
	height: 100%;
	@include grid-column(12,$custom-grid);
	overflow: hidden;
}

.image{
	height: 100%;
	min-width: 1440px;
	position: absolute;
}

.left-div{
	@include grid-column(5,$custom-grid);
	background-color: #bfbfbf;
	height: 100%;
}
.right-div{
	@include grid-column(7,$custom-grid);
	background-color: white;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.note{
	width:80%;
	padding: 20px;
	text-align: justify;
	margin-top: 80px;
	font-size: 1.2em;
	@include grid-push(1);
	font-family: Georgia, Serif;
	max-height: 800px;
	overflow: auto;
}

.note h1{
	font-size: 40px;
}
