.dashboard-container {
  @include grid-column(12);
  padding-top: 40px;

}

.calendar-container {
  @include grid-column(12);
  height: 100%

}

.calendar-component {
  @include grid-column(7);
  @include grid-shift(2.5);
  //text-align: right;
  //border-right: 1px solid #dce0e0;
  height: 100%;
}

.display-preview {
  @include grid-column(5.25);
  padding: 50px 20px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  height: 100%;
  z-index: 99;
  background-color: white;

  h2 {
    padding: 0px 20px;
  }

  .close {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
}

.recent-posts {
  @include grid-column(5);
  height: 100%;
  padding-left: 10px;
  padding-top: 15px;
}

.goal-container {
  @include grid-column(12);
  @include grid-shift(2.5);
  margin-top: 50px;
}

$custom-neat-grid: (
  columns: 12,
  gutter: 0px,
);

.goal-child-container{
  @include grid-column(2.4);
  margin-left: 0px;
}

.goal-child-connector{
  @include grid-column(12,$custom-neat-grid);
  margin-top: 7px;
  margin-left: 2px;
  position: relative;
  z-index: -1;
  height: 10px;
  background-color: #333;
  box-shadow: inset 0px 0px 0px 0px 2px #333;
}

.goal-child-circle {
  height: 25px;
  width: 25px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  //box-shadow: 0 0 0 1px #333;

}

  .goal-child-circle.highlight {
    background-color: #28a6ff;
  }

  .goal-preview {
    @include grid-column(9.5);
    @include grid-shift(2.5);
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #dce0e0;
    padding: 15px;
    color: #606060;
    font-weight: 200;
  }
