$custom-grid: (
  gutter: 0px,
  columns: 12,
);

.dashboard-container {
  @include grid-column(10, $custom-grid);
  @include grid-shift(2, $custom-grid);
  padding: 10px;
  padding-top: 15px;
}

.calendar-container {
  @include grid-column(6);
  height: 100%
}

.calendar-component {
  @include grid-column(7);
  //text-align: right;
  margin-left: 0px;
  //border-right: 1px solid #dce0e0;
  height: 100%;
}

.display-preview {
  @include grid-column(5.25);
  padding: 50px 20px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  height: 100%;
  z-index: 99;
  background-color: white;

  h2 {
    padding: 0px 20px;
  }

  .close {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
}

.recent-posts {
  @include grid-column(6, $custom-grid);
  height: 100%;
  //padding-top: 15px;
}

.goal-container {
  @include grid-column(12);
  margin-top: 20px;
}

$custom-neat-grid: (
  columns: 12,
  gutter: 0px,
);

.goal-child-connector{
  @include grid-column(12,$custom-neat-grid);
  margin-top: 6px;
  position: relative;
  margin-left: -2px;
  float: left;
  z-index: -1;
  height: 8px;
  background-color: #333;
  box-shadow: inset 0px 0px 0px 0px 2px #333;
}

.goal-child-circle {
  height: 20px;
  width: 20px;
  float: left;
  margin-left: -2px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  //box-shadow: 0 0 0 1px #333;

}

.goal-child-circle.highlight {
  background-color: #28a6ff;
}

.goal-preview {
  @include grid-column(12);
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #dce0e0;
  padding: 15px;
  color: #606060;
  font-weight: 200;
}

.h2-title {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 1.1em;
  font-weight: 400;
  @include grid-column(12);
}
