$custom-grid: (
columns: 12,
gutter: 0px,
);

.settings-bar{
  @include grid-column(10,$custom-grid);
  @include grid-shift(2,$custom-grid);
  background-color: #f1f1f1;
  color: #828497;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.settings-button{
  @include grid-column(1.5);
  @include grid-shift(0.5);
  display: inline;
  padding: 20px 0px;
  text-align: center;
  font-weight: 600;
}

.current-settings{
  margin-top: 50px;
  height: 100%;
  @include grid-column(8.5, $custom-grid);
  @include grid-push(2.5, $custom-grid);

  h1 {
    font-size: 1.5em;
    border-bottom: 1px solid #d6d6d6;
    @include grid-column(12, $custom-grid);
    padding-bottom: 35px;
  }
}



.personal-info-form{
  margin-top: 40px;

  h3{
    @include grid-column(5, $custom-grid);
  }

  .bio-field{
    @include grid-column(9, $custom-grid)
  }

  .personal-info-item{
    font-size: 1em;
    color: #777;
    padding-top: 10px;
  }


  .first-field{
    @include grid-column(4, $custom-grid)
  }

  .email-field{
    @include grid-column(4, $custom-grid)
  }

  .last-field{
    @include grid-column(4, $custom-grid)
    @include grid-shift(1)
  }

  .old-password, .new-password, .confirm-password{
    @include grid-column(4,$custom-grid)
    @include grid-push(4,$custom-grid)
    @include grid-shift(-4,$custom-grid)
  }

  .error{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    @include grid-column(4, $custom-grid)

  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      border-color: red;

    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }



}

.submit-button{
  @include grid-column(2, $custom-grid);
  @include grid-push(2, $custom-grid);
  @include grid-shift(-2, $custom-grid);
  margin-top: 30px;
  background-color: #00a2ff;
}


.password-button{
  @include grid-column(2,$custom-grid)
  @include grid-push(3, $custom-grid)
  @include grid-shift(-3 ,$custom-grid)
  margin-top: 30px;
}


